folium~=0.17.0
streamlit~=1.37.1
streamlit_folium~=0.22.1
tika~=2.6.0
python-dotenv~=1.0.1
langchain~=0.3.4
transformers~=4.45.2
numpy~=1.26.4
pandas~=2.2.3
networkx~=3.3
osmnx~=1.9.4
scikit-learn~=1.5.2
pillow~=10.4.0